<h1>GitHub Information</h1>
<%= form_with(url: '/git_info/show', method: 'post', data: { turbo: false }) do |form| %>
  <%= form.label :github_login, 'GitHub Login:' %>
  <%= form.text_field :github_login %>
  <%= form.submit 'Get GitHub Info' %>
<% end %>
