 <h1>Username: <%= @user_name %></h1>
<% if @repos.present? %>
  <ul>
    <% @repos.each do |repo| %>
      <li><%= repo.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>No repositories found for the provided GitHub login.</p>
<% end %>
    